
<div>
  <div class="banner-green">
    <div class="header-description">
      <p class="page-description">Instituto Henrique$$er</p>
      <p class="header-title"> Porque riqueza é questão de escolha. Quer ficar rico? Pergunte-me como! </p>
      <a href="#" class="btn-medium" style="margin-left: 25px;">Quero ficar rico!</a>
    </div>
    <div class="logo-banner" style="background-image: url(<%= image_path('logo2.png') %>);">
    </div>
  </div>
</div>
