.card-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background: white;
}

.alternate {
background: linear-gradient(270.7deg, rgba(255, 195, 113, 0.8) 0.46%, rgba(255, 95, 109, 0.8) 99.66%);
}

.white {
  color: #FFFDFD !important;
}

.grey {
  color: #4F4F4F !important;
}

.green-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(4, 135, 170, 0.8) 0%, rgba(134, 231, 143, 0.8) 100%);
  opacity: 0.8;
  border-radius: 8px;
  box-shadow: 6px 6px 10px lightgrey;
}

#grey {
  position: absolute;
  color: #4F4F4F;
  top: 20px;
  width: 100%;
  height: 10%;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width:100%;
  border-radius: 8px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 45%;
}

.card-white {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #FFFDFD;
  border-radius: 8px;
  box-shadow: 2px 2px 20px snow;
}

.card-description {
position: absolute;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
font-size: 34px;
text-align: left;
color: #FFFFFF;
width: 80%;
bottom: 0px;
left: 17px;
}

#card-description-paragraph {
font-family: 'Montserrat', sans-serif;
font-weight: 200;
font-size: 20px;
color: #FFFFFF;
}

.card-1-image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  transition: 0.5s;
}

.card-1-image:hover {
  opacity: 0.6;
}

.card-2-image {
  height: 100%;
  width: 68%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s;
  margin-right: 20px;
}

.card-2-image:hover {
  opacity: 0.6;
}

.card-3-image {
  height: 100%;
  width: 46vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s;
  margin-right: 15px;
}

.card-3-image:hover {
  opacity: 0.8;
}

.text-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 42px;
  text-align: left;
  color: #4F4F4F;
  width: 35%;
}

#description-paragraph {
font-weight: 200;
font-size: 20px;
color: #4F4F4F;
text-align: left;
}

.orange-vector {
  position: absolute;
  height: 20vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0px;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 10px;
  margin-top: 5px;


}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
